
body {
}

.wrap {
    width: 320px;
    height: 320px;
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -400px;
    background-color: #333;
}

.preview {
    width: 320px;
    height: 320px;
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: 0;
    background-color: #bbb;
}

    .preview::after {
        content: 'PREVIEW';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -50px;
        width: 100px;
        height: 40px;
        line-height: 40px;
        color: #ddd;
        text-align: center;
    }

.btn_preview {
    width: 120px;
    height: 40px;
    background-color: #436ca5;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 160px;
    margin-left: -260px;
    text-align: center;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

    .btn_preview:hover {
        background-color: #1a7aff;
    }

.btn_print {
    width: 120px;
    height: 40px;
    background-color: #bbb;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 160px;
    margin-left: 140px;
    text-align: center;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    line-height: 40px;
    cursor: default;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

    .btn_print._actived {
        background-color: #436ca5;
        cursor: pointer;
    }

        .btn_print._actived:hover {
            background-color: #1a7aff;
        }
